include /tpl-components/common-components

+b.reconnect-overlay([hidden]='!visible')
  +e.message-head Нет соединения
  +e.message-body Переподключение..
  +b.spinner
    +e.ball--1
      +e.inner-ball
    +e.ball--2
      +e.inner-ball
    +e.ball--3
      +e.inner-ball
    +e.ball--4
      +e.inner-ball
    +e.ball--5
      +e.inner-ball
