$normalColor: #2b2c43;
$selectedColor: #80ee6e;

svg {
  max-height: 100%;
  max-width: 100%;
}

.walls {
  fill: $normalColor;
}

.zone {
  .trigger {
    opacity: 0;
  }

  &.selected {
    .walls {
      fill: $selectedColor;
    }
  }
}

