@import 'variables';

@mixin makeCircle($r) {
  height: $r;
  width: $r;
  border-radius: $r;
}

@mixin size($size){
  height: $size;
  width: $size;
}

@mixin alignCenter(){
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin top-bar() {
  background-color: #1d1a2a;
  padding: 0 $defaultSidePadding;
  align-items: center;
  display: flex;
}
