@import "./variables";
@import "../styles/mixins";
@import "../styles/fonts";
@import "../styles/normalize";
@import "../styles/buttons";
@import "../styles/waves";
@import "../styles/animations";

svg {
  fill: currentColor
}

a {
  &:hover {
    color: $mainActiveColor;
  }
}

body {
  @extend %font-open-sans;
  background-color: $mainBgColor;
  color: #fff;
}

//components
