include /../node_modules/bem-jade/bem

mixin button()
 +e('button')(type='button' waves)&attributes(attributes)
  block

mixin icon(id)
  - var dynamic = false;
  - if (id && (id.indexOf('{{') !== -1)) {
  -   dynamic = '#' + id
  -   id = ''
  - } else {
  -   id = '#' + id
  - }
  +e('svg')&attributes(attributes)
    use(xlink:href=id, xlink=dynamic)
