@import "../../../styles/variables";
@import "../../../styles/mixins";

.temp-control {
  $height: 50px;
  $btnGap: 3px;
  $btnSize: $height - $btnGap * 2;
  $width: 130px;

  $bgColor: $mainDarkColor;

  width: $width;
  height: $height;
  box-sizing: border-box;
  position: relative;
  border-radius: $height;
  background-color: $bgColor;

  &--zoned {
    background-color: rgba(128, 238, 110, 0.08);
  }

  .value {
    position: absolute;
    left: $height + $btnGap;
    line-height: $height;
  }

  .increase ::ng-deep button, .decrease ::ng-deep button {
    @include makeCircle($btnSize);
    position: absolute;
    z-index: 1;

    top: $btnGap;

    ::ng-deep svg {
      height: 10.5px;
    }
  }

  .increase ::ng-deep button {
    color: $mainAccentColor;
    right: $btnGap;
  }

  .decrease ::ng-deep button {
    color: #fff;
    left: $btnGap;
  }
}
