include /tpl-components/common-components

+b.zone-control(
  [ngClass]="{'zone-control--expanded': expanded, 'zone-control--enabled': zone.enabled}",
  [ngStyle]='zone.controlPosition'
)
  +e.temp
    span
      | {{zone.ambientTemp}}&deg;
    span([hidden]='!zone.enabled')
      | &#8594; {{zone.tempSetpoint}}&deg;
  +e.sync([hidden]='!zone.sync')
    +icon('sync')
  +e.btns
    +button.btn--left([ngClass]="{'zone-control__btn--active': zone.enabled}", (click)='toggleEnabled()')
      +icon('power2')
    +button.btn--toggle([ngClass]="{'zone-control__btn--active': expanded}", (click)='toggle()')
      +icon('more')
    +button.btn--right([ngClass]="{'zone-control__btn--active': zone.sync}", (click)='toggleSync()')
      +icon('sync')
