@import "../../../styles/variables";
@import "../../../styles/mixins";
@import "../../../styles/waves-mixins";

$btnSize: 40px;
$block: &;
$tempLineHeight: 20px;
$tempLineMargin: 10px;

.zone-control {
  pointer-events: none;
  text-align: center;
  width: $btnSize * 3 + 20px; //3 buttons + gap
  height: $btnSize * 1 + 10px + $tempLineHeight + $tempLineMargin; //1 buttons + gap
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.temp {
  margin-bottom: $tempLineMargin;
  font-size: 14px;
  line-height: $tempLineHeight;

  margin-left: 7px;
}

.sync {
  background-color: rgba(255,255,255, 0.1);
  position: absolute;
  color: #fff;
  font-size: 10px;
  padding: 2px 5px 2px ($btnSize/2) + 2px;
  left: 70px;
  text-transform: uppercase;
  font-weight: bold;
  height: 15px;
  transition: opacity 0.2s ease-out;

  ::ng-deepsvg {
    @include size(15px);
  }

  #{$block}.isExpanded & {
    opacity: 0;
  }
}

.btns {
  width: $btnSize;
  height: $btnSize;
  position: relative;
  transition: width 0.2s ease-out;
  pointer-events: all;

  #{$block}.isExpanded & {
    width: 100%;
    height: $btnSize * 2 + 10px; //2 buttons + gap
  }

}

.btn {
  @include makeCircle($btnSize);
  @extend %waves-circle;
  @extend %waves-light;
  @include alignCenter();

  background-color: $mainDarkColor;
  display: flex;
  position: absolute;

  color: #fff;

  &.right {
    right: 0;
  }

  &.active {
    background-color: $mainActiveColor;
  }

  &.left {
    left: 0;
  }

  &.bottom {
    bottom: 0;
    left: 50%;
    margin-left: -$btnSize / 2;
  }

  ::ng-deep svg {
    @include size($btnSize / 2);
  }

  #{$block}.isExpanded & {
    @extend %waves-dark;
  }

  &.toggle {
    border: 2px solid $mainAccentColor;
    background-color: $mainBgColor;
    left: 50%;
    margin-left: -$btnSize / 2;
    z-index: 2;

    #{$block}.isEnabled & {
      border-color:#71AA67;
      background-color: rgb(53, 61, 51);
    }

    #{$block}.isExpanded & {
      border: 0;
      background-color: $mainActiveColor;
    }

  }
}
