include /tpl-components/common-components

+b.settings-panel
  +e.features-row
    +e.feature(*ngFor="let feature of features", (click)='feature.hasOptions() ? toggleOptions(feature) : toggleFeature(feature)')
      +button()([ngClass] = '{active: feature.isActive()}')
        +icon('{{feature.getIcon()}}')
      +e('span').feature-title {{ feature.getTitle() }}

  +e.options-row(*ngIf="selectedFeature")
    +e.option(*ngFor="let option of selectedFeature.getOptions()")
      +button()([ngClass] = '{active: option === selectedFeature.getSelectedOption()}', (click) = 'selectOption(option)')
        +icon('{{option.icon}}')
