<div class="settings-panel">
  <div class="features-row">
    <div *ngFor="let feature of features"
         class="feature">
      <icon-button
        (click)="feature.hasOptions() ? toggleOptions(feature) : toggleFeature(feature)"
        [icon]="feature.getIcon()"
        [active]="feature.isActive()">
      </icon-button>
      <span class="feature-title">{{ feature.getTitle() }}</span>
    </div>
  </div>
  <div *ngIf="selectedFeature" class="options-row">
    <div *ngFor="let option of selectedFeature.getOptions()" class="option">
      <icon-button
        (click)="selectOption(option)"
        [icon]="option.icon"
        [active]="option === selectedFeature.getSelectedOption()">
      </icon-button>
    </div>
  </div>
</div>
