include /tpl-components/common-components

+b.header
  +e.btns
    +button.btn.waves-circle.waves-light((click)='toggleSettings()', [ngClass]="{active: settingsExpanded}")
      +icon('cogwheel')
    +button.btn.waves-circle.waves-light
      +icon('clock-history')
  +b.status-area
    +e.item--active
      +icon('power')
    +e.item
      +icon('snowflake')
    +e.item
      +icon('hood')
    +e.item
      +icon('thermometer')
      span 2&deg;

+b.control-bar
  +e.control
    temp-control
  +e.content
    | {{ zoneTitle ? zoneTitle : 'Во всех комнатах' }}

settings-panel([hidden]="!settingsExpanded")

+b.floor-plan
  include /misc/plan.svg

  zone-control(*ngFor="#zone of zones", [zone] = 'zone')

+b.schedule-progress
