include /tpl-components/common-components

+b.header
  +e.btns
    +button.btn.waves-circle.waves-light((click)='toggleSettings()')
      +icon('cogwheel')
    +button.btn.waves-circle.waves-light
      +icon('clock-history')
  +b.status-area
    +e.item--active
      +icon('power')
    +e.item
      +icon('snowflake')
    +e.item
      +icon('hood')
    +e.item
      +icon('thermometer')
      span 2&deg;

+b.control-bar
  +e.control
    temp-control
  +e.content
    | Общая

+b.settings-bar([hidden]="!settingsExpanded")
  +e.main-row

    +e.feature
      +button
        +icon('fan')
      +e('span').feature-title Средняя

    +e.feature
      +button
        +icon('snowflake')
      +e('span').feature-title Cool

    +e.feature
      +button
        +icon('hood')
      +e('span').feature-title Вытяжка

    +e.feature
      +button
        +icon('input-air')
      +e('span').feature-title Приток

  +e.secondary-row
    +button
      +icon('snowflake')
    +button
      +icon('sun')
    +button
      +icon('water-drop')

+b.floor-plan
  include /misc/plan.svg

  zone-control(*ngFor="#zone of zones", [zone] = 'zone')

+b.schedule-progress
