@import '../../styles/variables';
@import '../../styles/mixins';
@import '../../styles/waves-mixins';

.header {
  padding: 0 $defaultSidePadding 0;
  box-sizing: border-box;
  color: #fff;
  height: $barSize;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btns {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.btn {
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.control-bar {
  @include top-bar;
  height: $barSize;
  justify-content: space-between;

  &__content {
    font-size: 17.5px;
    flex: 1;
    text-align: center;
  }
}

.floor-plan {
  padding: 30px 15px;
  position: relative;
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 400px;
}


